<% content_for :style_chunk do%>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link rel="stylesheet" href="../styles/admin.css"/>
<% end %>
<% content_for :nav_lis do%>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/views/items.html" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="/">主页</a>
    </li>
    <li>
      <a href="/items">商品列表</a>
    </li>
    <li><a href="/order_admin">订单管理</a></li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li>
      <a href="/cart" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span id="count">0</span>)</a>
    </li>
    <li class="active">
      <a href="/admin">管理</a>
    </li>
  </ul>
</div>
<% end %>

<!-- 页面主体 -->
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading text-center"><h4>商品列表</h4></div>
    <table id="item-table" class="table table-bordered">
      <thead>
        <tr>
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>库存</th>
          <th>描述</th>
          <th>操作</th>
          <th>优惠</th>
        </tr>
      </thead>
      <tbody>
        <% Product.all.each do |item| %>
        <tr class = "tr">
          <td><%= item.name %></td>
          <td class="tableWidth"><%= item.price %></td>
          <td class="tableWidth"><%= item.unit %></td>
          <td class="tableWidth"><%= item.stock %></td>
          <td title="<%= item.detail %>" class="nowarp"><%= item.detail %></td>
          <td class="operating">
          <a title="/edit/<%=item.id%>" class="btn btn-sm btn-success modify"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
          <a href="/delete/<%= item.id %>" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span>删除</a>
          </td>
          <td class="promotion"> 
          <span id = "inline-promotion<%= item.id %>"></span>
	  </td>
        </tr>
	<% end %>
        <tr>
          <td>
            <a class="btn btn-warning btn-lg add"><span class="glyphicon glyphicon-plus"></span>添加商品</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <div id = "hidden">
	<div id = "bg"></div>
    </div>
    <!-- 编辑 -->
    <div id = "modify">
    <div class="panel-heading">
    	<h2>请修改产品信息</h2>
    </div>
    <div class="panel-body">
      <form method="post" role="form" class="form1">
        <div class="form-group">
          <label>商品名称</label>
          <input  class="form-control input0" name="productName">
        </div>
        <div class="form-group">
          <label>价格(元)</label>
          <input type="number" class="form-control input1" name="productPrice">
          <p id="priceErrorTip"></p>

        </div>
        <div class="form-group">
          <label>单位</label>
          <input class="form-control input2" name="productUnits">
        </div>
        <div class="form-group">
          <label>库存</label>
          <input class="form-control input3" name="productStock">
          <p id="stockErrorTip"></p>
        </div>
        <div class="form-group">
          <label>描述</label>
          <input class="form-control input4" name="productDetail">
        </div>
        <button type="submit" class="btn btn-success" id="editProduct">确认修改</button>
        <a href="/admin" class="btn btn-default">取消</a>
      </form>
    </div>
    </div>
    <!--添加商品-->
    <div id="add">
    <div class="panel-heading">
    	<h2>请输入产品信息</h2>
    </div> 
    <div class="panel-body">
      <form action="/products" method="post">
        <div class="form-group">
          <label >名称</label>
          <input  class="form-control" name="productName">
        </div>
        <div class="form-group">
          <label >单价(元)</label>
          <input class="form-control" name="productPrice">
          <p class="form-error-text" id="priceErrorTip"></p>

        </div>
        <div class="form-group">
          <label >单位</label>
          <input class="form-control" name="productUnit">
        </div>
        <div class="form-group">
          <label >数量</label>
          <input class="form-control" name="productStock">
          <p class="form-error-text" id="stockErrorTip"></p>
        </div>
        <div class="form-group">
          <label >商品描述</label>
          <input class="form-control" name="productDetail">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning" id="addProduct">添加</button>
          <a href="/admin" class="btn btn-default">取消</a>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
