<% content_for :style_chunk do%>
  <link rel="stylesheet" href="../styles/main.css"/>
<% end %>
<% content_for :nav_lis do%>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/views/items.html" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="/index.html">主页</a>
    </li>
    <li>
      <a href="/views/items.html" >商品列表</a>
    </li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li>
      <a href="/views/cart.html" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">0</span>)</a>
    </li>
    <li class="active">
      <a href="/admin">管理</a>
    </li>
  </ul>
</div>
<% end %>

<!-- 页面主体 -->
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading text-center"><h4>商品列表</h4></div>
    <table id="item-table" class="table table-bordered table-width-items">
      <thead>
        <tr>
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>库存</th>
          <th>操作</th>
          <th>优惠</th>
        </tr>
      </thead>
      <tbody>
        <% Product.all.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.unit %></td>
          <td><%= item.stock %></td>
          <td class="operating">
          <a href="/edit/<%= item.id %>" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-pencil">编辑</span></a>
          <a href="/delete/<%= item.id %>" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash">删除</span></a>
          </td>
          <td>
          <span id = "inline-promotion<%= item.id %>"></span>
	        </td>
        </tr>
	<% end %>
        <tr>
          <td>
            <a href="/add" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-plus"></span>添加商品</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
