<% content_for :style_chunk do%>
  <link rel="stylesheet" href="../styles/main.css"/>
<% end %>
<% content_for :nav_lis do%>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/views/items.html" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="/index.html">主页</a>
    </li>
    <li>
      <a href="/views/items.html" >商品列表</a>
    </li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li>
      <a href="/views/cart.html" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">0</span>)</a>
    </li>
    <li class="active">
      <a href="/admin">管理</a>
    </li>
  </ul>
</div>
<% end %>


<!-- 主体部分 -->
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
    <h2>请修改产品信息</h2>
    </div>
    <div class="panel-body">
      <form action="/edit/<%= @product.id %>" method="post" role="form">
        <div class="form-group">
          <label>商品名称</label>
          <input  class="form-control" name="productName" value="<%= @product.name %>">
        </div>
        <div class="form-group">
          <label>价格(元)</label>
          <input type="number" class="form-control" name="productPrice" value="<%= @product.price %>" >
        </div>
        <div class="form-group">
          <label>单位</label>
          <input class="form-control" name="productUnits" value="<%= @product.unit %>">
        </div>
        <div class="form-group">
          <label>库存</label>
          <input class="form-control" name="productStock" value="<%= @product.stock %>">
        </div>
        <button type="submit" class="btn btn-success">确认修改</button>
        <a href="/admin" class="btn btn-default">取消</a>
      </form>
    </div>
  </div>
</div>
