<% content_for :style_chunk do%>
    <link rel="stylesheet" href="../styles/main.css"/>
<% end %>
<% content_for :nav_lis do%>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">切换导航</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="/items" class="navbar-brand">Let's Go</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="/">主页</a>
    </li>
    <li>
      <a href="/items">商品列表</a>
    </li>
  </ul>
  <ul class="navbar-nav nav navbar-right">
    <li>
      <a href="/cart" ><span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">0</span>)</a>
    </li>
    <li>
      <a href="/admin">管理</a>
    </li>
  </ul>
</div>
<% end %>

<!-- 页面主体 -->
<div class="panel panel-success">
  <div class="panel-heading"><h4>购物清单</h4></div>
  <div id="pay-date"></div>
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th>名称</th>
        <th>单价(元)</th>
        <th>单位</th>
        <th>数量</th>
        <th>小计</th>
      </tr>
    </thead>
    <tbody>
      <% @order.product_list.each do |item| %>
        <% if (item.amount > 0) %>
          <tr>
            <td>
              <%= "#{item.name}" %>
            </td>
            <td>
              <%= "#{item.price}" %>
            </td>
            <td>
              <%= "#{item.unit}" %>
            </td>
            <td>
              <%= "#{item.amount}" %>
            </td>
            <td>
              <%= "#{format("%0.2f", item.kindred_price)} 元" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <div class="panel-heading"><h4>优惠商品</h4></div>
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th>分类</th>
        <th>名称</th>
        <th>数量</th>
      </tr>
    </thead>
    <tbody>
        <% @order.discount_list.each do |discount_item| %>
          <tr>
            <td>
              买二送一
            </td>
            <td>
              <%= "#{discount_item.name}" %>
            </td>
            <td>
              <%= "#{discount_item.discount_amount}" %>
            </td>
          </tr>
        <% end %>
    </tbody>
    <tfoot>
      <td colspan="3">
        <ul class="list-unstyled">
          <li class="text-right"><p><%= "总计：#{format("%0.2f", @order.sum_price)} 元" %></p></li>
          <li class="text-right"><p><%= "节约：#{format("%0.2f", @order.sum_discount)} 元" %></p></li>
          <li class="text-right"><a href="/items" class="btn btn-success">确认</a></li>
        </ul>
      </td>
    </tfoot>
  </table>
</div>
